Django
django-extensions
django_extra_views
django_browser_reload
django-widget-tweaks
django-test-without-migrations
dj-database-url
dj-static
model_mommy
python-decouple
pytest
pytest-django
PyYAML
pytz
static3
