{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section>
        <div class="content row padding-bottom-3 desktop-12 container">
            <h1>Titular</h1>
            <div class="desktop-6">
                <form action="{% url 'holder:new' %}" novalidate method="POST">
                    {% csrf_token %}

                    {# o layout está bem feio. TODO: Melhorar o layout #}
                    {{ form_pseudo.management_form }}
                    <div class="inlineformset content row padding-bottom-3 container ">
                        {% for fp in form_pseudo %}
                            <table>
                                <th>
                                    <div class="form-row label-block input-text">
                                        <label for="{{ fp.pseudonym.id_for_label }}"> {{ fp.pseudonym.label }}</label>
                                        {{ fp.pseudonym.errors }}
                                        {{ fp.pseudonym }}
                                    </div>
                                </th>
                                <th>
                                    <div class="form-row label-block radio">
                                        <label for="{{ fp.is_main.id_for_label }}"> {{ fp.is_main.label }}</label>
                                        {{ fp.is_main.errors }}
                                        {{ fp.is_main }}
                                    </div>
                                </th>
                            </table>
                        {% endfor %}
                    </div>

                    {{ form.non_field_errors }}
                    <div class="form-row label-block input-text">
                        <label for="{{ form.cod_ecad.id_for_label }}"> {{ form.cod_ecad.label }}</label>
                        {{ form.cod_ecad.errors }}
                        {{ form.cod_ecad }}
                    </div>

                    <div class="form-row label-block combobox">
                        <label for="{{ form.society.id_for_label }}"> {{ form.society.label }}</label>
                        {{ form.society.errors }}
                        {{ form.society }}
                    </div>


                    <div class="form-row label-block input-text">
                        <label for="{{ form.name.id_for_label }}"> {{ form.name.label }}</label>
                        {{ form.name.errors }}
                        {{ form.name }}
                    </div>

                    <div class="pseudo">
                        <div class="form-row label-block input-text">
                            <label for="{{ form.pseudonyms.id_for_label }}"> {{ form.pseudonyms.label }}</label>
                            {{ form.pseudonyms.errors }}
                            {{ form.pseudonyms }}
                        </div>
                    </div>

                    <div class="form-row label-block input-text">
                        <label for="{{ form.type_doc.id_for_label }}"> {{ form.type_doc.label }}</label>
                        {{ form.type_doc.errors }}
                        {{ form.type_doc }}
                    </div>
                    <div class="form-row label-block input-text">
                        <label for="{{ form.cpf.id_for_label }}"> {{ form.cpf.label }}</label>
                        {{ form.cpf.errors }}
                        {{ form.cpf }}
                    </div>
                    <div class="form-row label-block input-text">
                        <label for="{{ form.cnpj.id_for_label }}"> {{ form.cnpj.label }}</label>
                        {{ form.cnpj.errors }}
                        {{ form.cnpj }}
                    </div>
                    <div class="form-row label-block input-text">
                        <label for="{{ form.ifpi.id_for_label }}"> {{ form.ifpi.label }}</label>
                        {{ form.ifpi.errors }}
                        {{ form.ifpi }}
                    </div>

                    <div class="form-row label-block input-text">
                        <label for="{{ form.radical_ifpi.id_for_label }}"> {{ form.radical_ifpi.label }}</label>
                        {{ form.radical_ifpi.errors }}
                        {{ form.radical_ifpi }}
                    </div>
                    <div class="form-row label-block input-text">
                        <label for="{{ form.is_publisher.id_for_label }}"> {{ form.is_publisher.label }}</label>
                        {{ form.is_publisher.errors }}
                        {{ form.is_publisher }}
                    </div>
                    <div class="form-row label-block input-text">
                        <label for="{{ form.is_record_producer.id_for_label }}"> {{ form.is_record_producer.label }}</label>
                        {{ form.is_record_producer.errors }}
                        {{ form.is_record_producer }}
                    </div>
                    <div class="form-row label-block input-text">
                        <label for="{{ form.is_interpreter.id_for_label }}"> {{ form.is_interpreter.label }}</label>
                        {{ form.is_interpreter.errors }}
                        {{ form.is_interpreter }}
                    </div>
                    <div class="form-row label-block input-text">
                        <label for="{{ form.is_author.id_for_label }}"> {{ form.is_author.label }}</label>
                        {{ form.is_author.errors }}
                        {{ form.is_author }}
                    </div>
                    <div class="form-row label-block input-text">
                        <label for="{{ form.is_musician.id_for_label }}"> {{ form.is_musician.label }}</label>
                        {{ form.is_musician.errors }}
                        {{ form.is_musician }}
                    </div>
                    <div class="form-row label-block input-text">
                        <label for="{{ form.is_deleted.id_for_label }}"> {{ form.is_deleted.label }}</label>
                        {{ form.is_deleted.errors }}
                        {{ form.is_deleted }}
                    </div>
                    <div class="form-row label-block input-text">
                        <label for="{{ form.note.id_for_label }}"> {{ form.note.label }}</label>
                        {{ form.note.errors }}
                        {{ form.note }}
                    </div>

                    <p class="btn-row"><input type="submit" value="Enviar!"/></p>
                </form>


            </div>
        </div>
    </section>

    {% block scripts %}
        <script type="text/javascript">
            $(function () {
                $('.inlineformset').formset({
                    prefix: '{{ form_pseudo.prefix }}',
                    addText: 'Adcionar Pseudonimo',
                    deleteText: 'Remover Pseudonimo'
                });
            })
        </script>
    {% endblock scripts %}


{% endblock content %}
